@font-face {
  font-family: airship;
  src: url("../fonts/airship.ttf"); }

@font-face {
  font-family: liberator;
  src: url("../fonts/Liberator.ttf"); }

.bar {
  background-color: white;
  border-bottom: gray 3px solid; }

.color {
  background-color: rgba(0, 0, 0, 0.6); }

.header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: white; }
  .header a:hover {
    opacity: 0.8;
    border-bottom: 2px solid white; }
.header span {
  border-bottom: 2px solid white; }
.header h1 {
  font-family: liberator;
  color: white;
  font-size: 60px;
  line-height: 75px; }

.tagline {
  padding: 100px 0px 100px 0px; }

.nav {
  padding: 50px 30px 30px 30px; }

.events {
  height: 1000px; }

.logo {
  background-color: white;
  padding: 15px 10px 15px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
