@font-face {
  font-family: airship;
  src: url("../fonts/airship.ttf"); }

@font-face {
  font-family: liberator;
  src: url("../fonts/Liberator.ttf"); }

.bar {
  background-color: white;
  border-bottom: gray 3px solid; }

.color {
  background-color: rgba(0, 0, 0, 0.6); }

.header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: white; }
  .header a:hover {
    opacity: 0.8;
    border-bottom: 2px solid white; }
.header span {
  border-bottom: 2px solid white; }
.header h1 {
  font-family: liberator;
  color: white;
  font-size: 60px;
  line-height: 75px; }

.tagline {
  padding: 100px 0px 100px 0px; }

.nav {
  padding: 50px 30px 30px 30px; }

.logo {
  background-color: white;
  padding: 15px 10px 15px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.events a {
  text-decoration: none; }

.container-full {
  margin: 0 auto;
  width: 100%; }

.no-gutter [class*="-6"] {
  padding-left: 0; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.event {
  height: 200px;
  padding: 0px 10px 0px 10px; }
  .event h1 {
    color: white;
    text-shadow: 2px 2px 0px rgba(50, 50, 50, 0.6); }
  .event:hover {
    opacity: 0.8; }

.details {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px -10px 0px -10px;
  padding: 10px 15px 10px 15px;
  width: 100%; }
  .details p {
    margin: 0px;
    color: white; }
  .details span {
    float: right; }

.aboutus {
  margin-top: 50px;
  margin-bottom: 50px; }
  .aboutus h1 {
    font-family: liberator;
    margin-bottom: 20px; }

.footer {
  background-color: #2c3e50;
  padding: 20px 0px 20px 0px; }
  .footer a {
    color: white;
    text-decoration: none; }
  .footer p {
    margin: 0px;
    color: white; }
