body {
  background-color: #ecf0f1; }

@font-face {
  font-family: liberator;
  src: url("../fonts/Liberator.ttf"); }

@media (max-width: 767px) {
  .header {
    background-color: black;
    background: url("../img/hackers.jpg") no-repeat center center fixed;
    background-size: cover; }

  .nav {
    padding: 0px !important; }
    .nav p {
      align: center; }

  .tagline {
    padding: 20px 0px 20px 0px !important; }
    .tagline h1 {
      font-size: 30px !important;
      line-height: 40px !important; }

  .aboutus {
    margin-top: 10px !important; }
    .aboutus h1 {
      margin-top: 60px !important; }

  .name {
    margin-top: 30px; }

  .title h1 {
    font-size: 30px !important;
    line-height: 40px !important; }

  .person {
    margin-top: 30px; }

  .schedule h1 {
    font-size: 30px !important; } }
@media (min-width: 767px) {
  .slicknav_menu {
    display: none; } }
#menu {
  display: none; }

.bar {
  background-color: white;
  border-bottom: gray 3px solid; }

.color {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1.0 !important;
  padding-bottom: 125px; }
  .color:hover {
    opacity: 1; }

.novideo {
  background-color: black;
  background: url("../img/hackers.jpg") no-repeat center center fixed;
  background-size: cover; }

.header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: white; }
  .header a:hover {
    opacity: 0.8;
    border-bottom: 2px solid white; }
.header span {
  border-bottom: 2px solid white; }
.header h1 {
  font-family: liberator;
  color: white;
  font-size: 60px;
  line-height: 75px; }

.tip {
  border: 0px !important; }

.tagline {
  padding: 100px 0px 100px 0px; }

.title {
  padding: 60px 0px 60px 0px; }

.nav {
  padding: 50px 30px 30px 30px; }

.logo {
  background-color: white;
  padding: 15px 10px 15px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.no-gutter [class*="-12"] {
  padding-left: 0; }

.user {
  margin-top: -80px;
  background-color: white; }

.top {
  padding: 30px 20px 30px 20px; }

.profilepicture img {
  border-radius: 4px;
  width: 100%;
  border: 4px solid #bdc3c7; }

.profiletext h4 {
  font-weight: 400;
  color: gray; }
.profiletext a {
  color: gray; }
  .profiletext a:hover {
    text-decoration: none;
    opacity: 0.6; }

.vertical-right {
  border-right: 1px solid gray; }

.stats {
  margin-top: 30px; }
  .stats h2, .stats p {
    margin: 0px; }

.sidebar {
  background-color: #bdc3c7;
  padding: 30px 20px 30px 20px; }

.main {
  background-color: #ecf0f1;
  padding: 30px 50px 30px 50px; }

#right {
  padding-right: 0px !important; }

#left {
  padding-left: 0px !important; }

#about {
  margin-bottom: 50px; }

.hack {
  background-color: white; }

.footer {
  background-color: #2c3e50;
  padding: 20px 0px 20px 0px; }
  .footer a {
    color: white;
    text-decoration: none; }
  .footer p {
    margin: 0px;
    color: white; }
