body {
  background-color: #ecf0f1; }

.color {
  padding-bottom: 125px; }

.user {
  margin-top: -80px;
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #e2e8ea;
  border-bottom: 0px; }

.top {
  padding: 30px 20px 30px 20px;
  border-bottom: 1px solid #e2e8ea; }

.profilepicture img {
  border-radius: 5px;
  width: 100%; }

.profiletext h4 {
  font-weight: 400;
  color: gray; }
.profiletext a {
  color: gray; }
  .profiletext a:hover {
    text-decoration: none;
    opacity: 0.6; }

.vertical-right {
  border-right: 1px solid gray; }

.stats {
  margin-top: 30px; }
  .stats h2, .stats p {
    margin: 0px; }

.sidebar {
  background-color: #f6f6f6;
  padding: 30px 20px 30px 20px; }

.main {
  background-color: #f6f6f6;
  padding: 30px 50px 50px 50px;
  border-left: 1px solid #e2e8ea; }

#right {
  padding-right: 0px !important; }

#left {
  padding-left: 0px !important; }

#about {
  margin-bottom: 50px; }

#hackathons {
  margin-bottom: 50px; }

#projects #pinfo {
  background-color: white;
  padding: 5px 6px 5px 6px; }
  #projects #pinfo p {
    margin: 0px;
    color: gray;
    font-size: 12px; }

/* --- Container configuration ---------------------------------------------------------- */
.viewport {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%; }

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
  margin-right: 0; }

/* --- Link configuration that contains the image and label ----------------------------- */
.viewport a {
  display: block;
  position: relative; }

.viewport a img {
  border: 6px white solid;
  border-radius: 5px; }

/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 20px 20px 15px 20px; }
  .viewport a span h4 {
    margin: 0px;
    margin-bottom: 10px; }
  .viewport a span p {
    font-size: 12px;
    color: gray; }

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
  background-color: rgba(255, 255, 255, 0.6);
  color: black; }

/**
 * You could create multiple hover background classes for different looks depending on the
 * image type. Use your imagination!
 */
.hack {
  background-color: white;
  border: 1px solid #e2e8ea; }

.medal {
  background-color: white;
  padding: 0px 0px 5px;
  border: 1px solid #e2e8ea; }

.contact p {
  line-height: 30px;
  color: #7f8c8d;
  margin: 0px; }
.contact a {
  line-height: 30px;
  text-decoration: none;
  color: black;
  margin: 0px; }
  .contact a:hover {
    opacity: 0.6; }

.skills span {
  border: 1.5px solid #3498db;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #3498db;
  line-height: 40px;
  margin-right: 5px; }
  .skills span:hover {
    background-color: #3498db;
    color: #f6f6f6; }
